{
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      }
    ]
  ],
  "presets": [["babel-preset-gatsby"], ["@emotion/babel-preset-css-prop"]]
}
